html {
  background-color: #43506c;
}
.usercard-section {
  display: flex;
  align-items: flex-start;
}

.title-row {
  padding: 1rem 0 1rem 1rem;
  background-color: #00968a;
  color: #36454f;
  font-size: 5rem;
  font-weight: 900;
}

.content-section {
  display: flex;
}

.chat-box {
  float: right;
  width: 20%;
  background-color: #20232b;
  word-wrap: break-word;
  padding: 1rem;
}
